.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
sandbox/build/tmp/jar/MANIFEST.MF
sandbox/build/scripts/sandbox
*.jar
sandbox/Could
*.txt
sandbox/build/scripts/sandbox.bat
sandbox/build/distributions/sandbox.zip
sandbox/build/distributions/sandbox.tar
sandbox/.idea/gradle.xml
sandbox/.idea/gradle.xml
.idea/misc.xml
.idea/gradle.xml
.idea/.name
sandbox/.idea/misc.xml
sandbox/build/classes/java/main/MyFirstProgram.class
sandbox/.idea/vcs.xml
.idea/vcs.xml
.idea/misc.xml
*.xml
.idea/compiler.xml
.idea/.name
.idea/vcs.xml
.idea/misc.xml
sandbox/build/classes/java/main/ru/stqa/pft/sandbox/MyFirstProgram.class
